<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80);">
  <div class="container">
    <h1>Popcorn Time</h1>
    <p><span data-controller="typed-js"></span></p>
  </div>
</div>

<div class="page-container p-3">

    <div class="form-container d-flex flex-column align-items-center">
      <%= simple_form_for(@list) do |f| %>
      <div class="field-container d-flex">
        <%= f.input :name, label: false, placeholder: "Romance...", input_html: { class: "me-3", style: "width:400px" }  %>
        <%= f.input :photo, label: false, as: :file, input_html: { class: "form-control-file" } %>
        <%= f.submit "Create category", class: 'btn btn-primary h-50' %>
        </div>
      <% end %>
      </div>
  </div>

  <div class="list-container d-flex flex-row flex-wrap justify-content-center">
      <% @lists.each do |list| %>
          <div class="card-category w-25 m-3 position-relative"
               style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),
               url('<%= cl_image_path list.photo.key, crop: :fill %>');">
            <%= link_to list.name, list_path(list) %><br>
            <p class="position-absolute bottom-0 end-0 pe-2"><%= link_to list_path(list),
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                <i class="fa-solid fa-trash text-white fs-4"></i>
            <% end %>
          </div>
        <% end %>
  </div>

</div>
