<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @list.photo.key, crop: :fill %>');">
  <div class="container">
    <h1 class="text-center"><%= @list.name %> Movies</h1>
  </div>
</div>

<div class="container">

  <p class="text-center"><%= link_to "Add a movie", new_list_bookmark_path(@list), class: "btn btn-primary mt-3" %></p>

  <div class="list-container p-3 d-flex justify-content-center flex-wrap gap-3">
      <% @movies.each do |movie| %>
        <div class="card-product">
          <%= image_tag movie.poster_url, alt: "#{movie.title} Poster" %>
          <div class="card-product-infos">
            <h2 class="text-end"><i class="fa-solid fa-star text-warning"></i> <%= movie.rating %></h2>
            <h2><%= movie.title %></h2>
            <p><%= movie.overview %></p>
            <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
              <p><i class="fa-solid fa-quote-left"></i> <%= bookmark.comment %> <i class="fa-solid fa-quote-right"></i></p>
              <p class="text-end"><%= link_to bookmark_path(bookmark),
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                <i class="fa-solid fa-trash text-danger fs-4"></i>
            <% end %>
              </p>
          </div>
        </div>
      <% end %>
    </ul>
  </div>

  <hr>

  <div class="reviews-container d-flex flex-row">
    <div class="existing-reviews-container w-75">
      <h4>Reviews</h4>
      <% @list.reviews.each do |review| %>
          <div class="review-card mt-3 border-bottom w-50">

            <% review.rating.times do %>
              <span class="text-warning"><i class="fa-solid fa-star"></i></span>
            <% end %>
            <span class="fst-italic text-muted">created on <%= review.created_at %></span>
            <p><%= review.comment %></p>
          </div>

      <% end %>
    </div>

  <div class="form-container w-50 d-flex flex-column justify-content-center">
    <h5>Add a new review</h5>
    <%= simple_form_for [@list, @review] do |f| %>
      <%= f.input :rating, collection: (1..5).to_a, label: "Rate this list", input_html: { class: 'star-rating', data: {controller: 'star-rating'} }%>
      <%= f.input :comment, label: false, placeholder: 'Tell us what you really think',
          input_html: { class: 'w-100'} %>
      <%= f.submit class: 'btn btn-primary'%>
    <% end %>
  </div>
  </div>
</div>
