<div class="container p-3">
  <h1 class="text-center"><%= @list.name %></h1>

    <% @movies.each do |movie| %>
      <div class="card-product">
        <%= image_tag movie.poster_url, alt: "#{movie.title} Poster", width: 100 %>
        <div class="card-product-infos">
          <h2><%= movie.title %></h2>
          <p><%= movie.overview %></p>
          <p>Rating: <%= movie.rating %></p>
          <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
            <p><i class="fa-solid fa-quote-left"></i> <%= bookmark.comment %></p>
          <%= link_to "Delete movie",
              bookmark_path(bookmark), class: "text-danger text-decoration-none",
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
              %>
        </div>
      </div>
    <% end %>
  </ul>
  <h4 class="mt-3">Add a new movie</h4>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie %>
    <%= f.submit class: 'btn btn-primary'%>
  <% end %>

</div>
